[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pyyaml = "*"
mwclient = "*"
hagadias = {editable = true, ref = "main", git = "https://github.com/TrashMonks/hagadias.git"}
pillow = "==9.1.1"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[scripts]
app = "python -m qbe"
