# Copy to wiki.yml to set up your own bot user
# Ask Trash Monks for bot credentials on Discord

username: Yourusername@Botname
password: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
operator: >-
  [[User:you|you]]
base: cavesofqud.fandom.com
path: /
